In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
import plotly.express as px

In [3]:
filename="User0_behacom.csv"

data_user=pd.read_csv(filename, encoding='latin-1',chunksize=1000)

a = next(data_user)
dtypes_col = a.dtypes.index
dtypes_type = [i.name for i in a.dtypes.values]
column_types = dict(zip(dtypes_col, dtypes_type))

for k,v in column_types.items():
    if k == 'timestamp':
        column_types[k] = 'float64'
    elif ('average' in k):
        column_types[k] = 'float32'
    elif ('stddev' in k):
        column_types[k] = 'float32'
    elif v == 'float64':
        column_types[k] = 'float32'
    elif v == 'int64':
        if (k.startswith('press') or ('counter' in k) or ('usage' in k)):
            column_types[k] = 'int8'
        else:
            column_types[k] = 'int32'


data_user=pd.read_csv(filename, encoding='latin-1',dtype=column_types)
print(data_user.shape)

(6059, 12051)

In [62]:
data_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6059 entries, 0 to 6058
Columns: 12051 entries, timestamp to user
dtypes: float32(6022), float64(1), int32(138), int8(5888), object(2)
memory usage: 176.5+ MB

In [61]:
# data_tmp = data_user[:3]['timestamp'].astype('datetime64[ms]')
print(data_tmp)

0   2019-11-20 13:44:15.128
1   2019-11-20 13:45:18.073
2   2019-11-20 13:46:18.881
Name: timestamp, dtype: datetime64[ns]

In [63]:
# convert timestamp to datetime and add add as column
data_user['date_time'] = data_user[:]['timestamp'].astype('datetime64[ms]')

In [65]:
data_user.info()
data_user[:3]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6059 entries, 0 to 6058
Columns: 12052 entries, timestamp to date_time
dtypes: datetime64[ns](1), float32(6022), float64(1), int32(138), int8(5888), object(2)
memory usage: 176.6+ MB

,timestamp,keystroke_counter,erase_keys_counter,erase_keys_percentage,press_press_average_interval,press_press_stddev_interval,press_release_average_interval,press_release_stddev_interval,word_counter,word_average_length,...,system_average_cpu,system_stddev_cpu,current_app_average_mem,current_app_stddev_mem,system_average_mem,system_stddev_mem,received_bytes,sent_bytes,user,date_time
0,1.574257e+12,14,2,0.14,200.690002,165.470001,107.000000,36.450001,2,5.0,...,13.03,14.42,11.07,0.00,1.15,2.57,1618568.0,274869.0,0,2019-11-20 13:44:15.128
1,1.574258e+12,37,3,0.08,825.690002,1842.589966,132.679993,96.690002,2,10.5,...,17.50,6.45,1.44,0.08,12.71,0.97,14835273.0,449913.0,0,2019-11-20 13:45:18.073
2,1.574258e+12,24,0,0.00,2399.870117,5181.549805,122.220001,28.139999,3,5.0,...,19.73,4.89,11.66,0.56,16.50,6.15,5097547.0,272460.0,0,2019-11-20 13:46:18.881